
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">

  <script type="text/javascript" src="http://get.goxtk.com/xtk_edge.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

      <script type="text/javascript" src="http://get.goxtk.com/xtk_xdat.gui.js"></script>

  <!--<link rel="stylesheet" type="text/css" href="/static/css/quadview.css">-->


  <title>Analyze 3D</title>



<script type="text/javascript" src="/static/js/quadview.js"></script>

</head>

<body>


  <script type="text/javascript" charset="utf-8">
    var parsed = JSON.parse({{fileName|tojson|safe}});
    var path = "{{ path }}";
    console.log(path);
</script>
<div id="code" fileName="{{ fileName }}">

  <!-- the container for the renderers -->
<div id="3d" style="background-color: #000; width: 100%; height: 60%; margin-bottom: 0px;"></div>
<div id="sliceX" style="border-top: 6px solid red; background-color: #000; width: 33.3%; height: 40%; float: left;"></div>
<div id="sliceY" style="border-top: 6px solid green; border-right: 0px solid white; border-left: 0px solid white; background-color: #000; width: 33.3%; height: 40%; float: left;"></div>
<div id="sliceZ" style="border-top: 6px solid blue; background-color: #000; width: 33.3%; height: 40%; float: left;"></div>
</div>

</body>

</html>

