
<html>
<head>
	 <meta charset="UTF-8">
<title>DMIM</title>

<link rel="stylesheet" type="text/css" href="/static/css/demo.css">

<!-- Tools -->
<script src="https://use.edgefonts.net/source-code-pro.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/dataarts/dat.gui/master/build/dat.gui.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/mrdoob/stats.js/master/build/stats.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js"></script>

<!-- THREEJS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>


<!-- AMI BUILD -->
<script type="text/javascript" src="/static/js/ami.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body style="overflow-y: hidden">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/storedCases">Stored cases</a></li>
      <li><a href="/uploadNew">Upload new case</a></li>
      <li class="active"><a href="/analyze">3D Analysis</a></li>
      <li><a href="/analyzeex">Slice Analysis</a></li>
    </ul>
  </div>
</nav>


<div id="my-gui-container"></div>
<div id="container"></div>

<div id="code" fileName="{{ fileName }}">
<script type="text/javascript" charset="utf-8">

var parsed = JSON.parse({{fileName|tojson|safe}});
var path = "{{ path }}";
console.log(path);
</script>
<script type="text/javascript" src="/static/js/demo.js"> </script>
</div>

</body>

</html>

