<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Medical Modeling</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
 <body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/storedCases">Stored cases</a></li>
      <li><a href="/uploadNew">Upload new case</a></li>
      <li class="active"><a href="/analyze">3D Analysis</a></li>
      <li><a href="/analyzeex">Slice Analysis</a></li>
    </ul>
  </div>
</nav>


  <div class="container">
   <div class="header">
       <h3 class="text-muted">Oops...</h3>
   </div>
   <hr/>
   <div>

  <h5>This page cannot be accessed directly. Please choose a case from the stored cases</h5>


 </body>
</html>
