<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>DMIM</title>

<!-- XTK -->
<script type="text/javascript" src="/static/js/xtk/xtk_edge.js"></script>
<script type="text/javascript" src="/static/js/xtk/xtk_xdat.gui.js"></script>
<script type="text/javascript" src="/static/js/xtk/xtk.js"></script>


<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>

</head>

<body style = "background: black; overflow-y: hidden;">
<div id="code" fileName="{{ fileName }}" style="height: 100%; width: 100%; min-height: 80%; min-width: 1000px;">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/storedCases">Stored cases</a></li>
      <li><a href="/uploadNew">Upload new case</a></li>
      <li><a href="/analyze">3D Analysis</a></li>
      <li class="active"><a href="/analyzeex">Slice Analysis</a></li>
    </ul>
  </div>
</nav>

  <script type="text/javascript" charset="utf-8">
    var parsed = JSON.parse({{fileName|tojson|safe}});
    var path = "{{ path }}";
    console.log(path);
</script>


  <!-- the container for the renderers -->

<div id="3d" style="background-color: #000; width: 100%; height: 50%; margin-bottom: 0px;">

</div>

  <div style="position: relative; bottom: 5px; left: 9%; ">

<div id="slidecontainer">
<style scope>
#slidecontainer {
    width:187px;
    padding-bottom: 3px;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #363636;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 20px;
    background: #4F81A4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 20px;
    background: #000;
    cursor: pointer;
  }
</style>
 Brush size: <span id="brush"></span>
  <input type="range" min="1" max="15" value="1" id="myRange" class="slider" >

  <script>
var slider = document.getElementById("myRange");
var output = document.getElementById("brush");
output.innerHTML = slider.value;


slider.oninput = function() {
  output.innerHTML = this.value;
  pad.setLineSize(this.value);
}
</script>
</div>

  <button type="button" class="btn btn-default btn-xs" onclick="setLineColor('#FF3333')">Red</button>
  <button type="button" class="btn btn-default btn-xs" onclick="setLineColor('#FFED3C')">Yellow</button>
  <button type="button" class="btn btn-default btn-xs" onclick="setLineColor('#4EFF3C')">Green</button>
  <button type="button" class="btn btn-default btn-xs" onclick="pad.clear()">CLEAR</button>

  </div>


<div id="sliceX" style="border-top: 6px solid red; background-color: #000; width: 33.3%; height: 30%; float: left; position: relative; ">

<div id="sketchpad" style="width: 100%; height: 100%; position: absolute; border: 2px solid white">

<script src="/static/js/responsive-sketchpad.js" ></script>

<script>
    var el = document.getElementById('sketchpad');
    var pad = new Sketchpad(el);

    pad.setLineSize(document.getElementById("myRange").value);


    // setLineColor
    function setLineColor(e) {

        var color = e;
        console.log(color);
        if (!color.startsWith('#')) {
            color = '#' + color;
        }
        pad.setLineColor(color);
    }
    setLineColor("#FF3333");

    // setLineSize
    function setLineSize(e) {
        var size = e.target.value;
        pad.setLineSize(size);
    }

  </script>
</div>
</div>

<div id="sliceY" style="border-top: 6px solid green; border-right: 0px solid white; border-left: 0px solid white; background-color: #000; width: 33.3%; height: 30%; float: left;"></div>
<div id="sliceZ" style="border-top: 6px solid blue; background-color: #000; width: 33.3%; height: 30%; float: left;"></div>


</body>

</html>

