
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">

  <script type="text/javascript" src="http://get.goxtk.com/xtk_edge.js"></script>



      <script type="text/javascript" src="http://get.goxtk.com/xtk_xdat.gui.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/quadview.css">


  <title>DMIM</title>


<script type="text/javascript" src="/static/js/quadview.js"></script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js"></script>

  <link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.min.css"></head>


</head>

<body>
<div id="code" fileName="{{ fileName }}" style="height: 100%; width: 100%">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/storedCases">Stored cases</a></li>
      <li><a href="/uploadNew">Upload new case</a></li>
      <li><a href="/analyze">3D Analysis</a></li>
      <li class="active"><a href="/analyzeex">Slice Analysis</a></li>
    </ul>
  </div>
</nav>

  <script type="text/javascript" charset="utf-8">
    var parsed = JSON.parse({{fileName|tojson|safe}});
    var path = "{{ path }}";
    console.log(path);
</script>


  <!-- the container for the renderers -->

<div id="3d" style="background-color: #000; width: 100%; height: 50%; margin-bottom: 0px;">

</div>

  <div style="position: relative; bottom: 5px; left: 80px;">

<div id="slidecontainer">
<style scope>
#slidecontainer {
    width: 19.5%;
    padding-bottom: 3px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
</style>
 Brush size: <span id="brush"></span>
  <input type="range" min="1" max="15" value="1" id="myRange">

  <script>
var slider = document.getElementById("myRange");
var output = document.getElementById("brush");
output.innerHTML = slider.value;


slider.oninput = function() {
  output.innerHTML = this.value;
  pad.setLineSize(this.value);
}
</script>
</div>

  <button type="button" class="btn btn-secondary btn-sm" onclick="setLineColor('#FF3333')">Red</button>
  <button type="button" class="btn btn-secondary btn-sm" onclick="setLineColor('#FFED3C')">Yellow</button>
  <button type="button" class="btn btn-secondary btn-sm" onclick="setLineColor('#4EFF3C')">Green</button>
  <button type="button" class="btn btn-secondary btn-sm" onclick="pad.clear()">CLEAR</button>

  </div>


<div id="sliceX" style="border-top: 6px solid red; background-color: #000; width: 33.3%; height: 30%; float: left; position: relative;">

<div id="sketchpad" style="width: 100%; height: 100%; position: absolute; border: 2px solid white"></div>

<script src="/static/js/responsive-sketchpad.js"></script>
<script>
    var el = document.getElementById('sketchpad');
    var pad = new Sketchpad(el);
    pad.setLineSize(document.getElementById("myRange").value);

    // setLineColor
    function setLineColor(e) {

        var color = e;
        console.log(color);
        if (!color.startsWith('#')) {
            color = '#' + color;
        }
        pad.setLineColor(color);
    }
    setLineColor("#FF3333");

    // setLineSize
    function setLineSize(e) {
        var size = e.target.value;
        pad.setLineSize(size);
    }

  </script>

</div>

<div id="sliceY" style="border-top: 6px solid green; border-right: 0px solid white; border-left: 0px solid white; background-color: #000; width: 33.3%; height: 30%; float: left;"></div>
<div id="sliceZ" style="border-top: 6px solid blue; background-color: #000; width: 33.3%; height: 30%; float: left;"></div>


</body>

</html>

