<!DOCTYPE html>
<html lang="en">
 <head>
  <title>DMIM</title>

<!-- BOOTSTRAP JQUERY  -->
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>


 </head>
 <body style="overflow-y: hidden; overflow-x: hidden">

 <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/storedCases">Stored cases</a></li>
      <li><a href="/uploadNew">Upload new case</a></li>
      <li><a href="/analyze">3D Analysis</a></li>
      <li><a href="/analyzeex">Slice Analysis</a></li>
    </ul>
  </div>
</nav>


  <div class="container">
   <div class="header">
       <h3 class="text-muted">Welcome to DICOM 3D Medical Image Modeling (DMIM)</h3>
   </div>
   <hr/>


  <h5>This web application will let you analyze medical images easily and efficiently</h5>
</div>

<br> <br>

<img src="./static/img/full_body_mri1.jpg" style="width:60%; margin: 0 auto; position: relative;left: 0; bottom: 0; height:40%;">

 </body>
</html>
