<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Medical Modeling</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
 <body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/storedCases">Stored cases</a></li>
      <li class="active"><a href="/uploadNew">Upload new case</a></li>
      <li><a href="/analyze">3D Analysis</a></li>
      <li><a href="/analyzeex">Slice Analysis</a></li>
    </ul>
  </div>
</nav>



  <div class="container">
   <div class="header">
    <h3 class="text-muted">Please choose files to upload</h3>
   </div>
 </div>

   <hr/>

    <div class="container">
   <p>Enter first and last name of the case:</p>
   <form action="/uploadDone" method="post" enctype="multipart/form-data" class="uploadFiles">
  <input type="text" name="firstName" placeholder="First name" required></input>
  <input type="text" name="lastName" placeholder="Last name" required></input><br><br>
   <input type="file" multiple="" name="file[]" class="uploadFiles"></input>
 <hr/>
    <input type="submit" value="Upload" class="uploadFiles">
   </form>
   </div>


<!--
    <a href="#" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-upload"></span> Print
    </a>
-->
</form>
  <ul>
    {% for file in files %}
      <li><a href="{{path}}/{{file}}/">{{file}}</a></li>
    {% endfor %}
</ul>


 </body>
</html>
